

body {
     background-color: #ccc;
}
div {
    background-color: #fff;
}

div#div_login_form span { width: 300px; display: inline-block; }
div#div_login_form input[type="text"] { width: 200px; }

div#bucketlist { display: none; }
div#upload { display: none; }
#logout { display: none; }
div#login_error { display: none; background-color: #f00; padding: 5px; width: auto; }

/* Dropzone effect */

#div_upload_form { padding: 20px; background: palegreen; width: 400px; height: 60px; text-align: left; }
#div_upload_form.in {
    width: 600px;
    height: 120px;
    font-size: larger;
    text-align: center;
}
#div_upload_form.hover {
    background: lawngreen;
}
#div_upload_form.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

#fake_upload { background-color: #cccccc; width: 150px; padding: 10px 20px; position: relative }
#fileupload { width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; z-index: 100; opacity: 0; -moz-opacity:0; filter:alpha(opacity:0); }

@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
	    font-weight: normal;
	    font-style: normal;

}

@font-face {
    font-family: 'OpenSansLightItalic';
    src: url('../fonts/OpenSans-LightItalic-webfont.eot');
    src: url('../fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansItalic';
    src: url('../fonts/OpenSans-Italic-webfont.eot');
    src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansSemiboldItalic';
    src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot');
    src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBoldItalic';
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansExtrabold';
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansExtraboldItalic';
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

body { background-color: #000000; color: #97d937; font-size: 30px; font-family: 'OpenSansLight', sans-serif; font-weight: normal; font-style: normal; margin: 0px 50px; }
div { background-color: #000000; }
A { color: #97d937; font-family: 'OpenSansExtrabold', sans-serif; font-weight: normal; font-style: normal; font-size: 18px; text-decoration: none; }
A:hover { text-decoration: underline; }

div#div_login_form input[type="text"]{ padding-left: 20px; height: 39px; border: 0px; background-color: #FFFFFF; width: 295px; margin: 10px; font-family: 'OpenSans', sans-serif; font-weight: normal; font-style: normal; font-size: 20px; color: #000000; }
div#div_login_form input[type="submit"], #logout{ float: right; background-color: #97d937; color: #000000; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; border: 0px; font-family: 'OpenSansLight', sans-serif; font-size: 30px; padding: 5px 30px; font-weight: normal; font-style: normal; margin-right: 10px }
div#div_login_form.login { height: 70px; margin: 0; }
div#div_login_form.login .theming { height: 50px; width: 100%; margin: 0px; padding: 20px 0px; }
div#div_login_form.login .theming h2 { font-size: 32px; margin: 0 20px; line-height: 35px; }

.input_group { float: right; }
#div_login_form { height: 330px; margin: 60px; }
#div_login_form .theming { float: left; margin-left: 250px; padding: 60px; width: 250px; }
#div_login_form .theming h1 { float: left; width: 170px; height: 32px; display: block; margin: 0px 8px 10px; font-size: 28px; }
#div_login_form .theming h2 { float: left; font-size: 95px; margin: 0px; font-family: 'OpenSansExtrabold', sans-serif; font-weight: normal; font-style: normal; text-transform: uppercase; line-height: 90px; }
#login_form { float: left; border-left: 1px solid #97d937; height: 100%; padding:60px; width: 500px; }
#login_form label { font-size: 30px; color: #97d937; font-family: 'OpenSansLight', sans-serif; font-weight: normal; font-style: normal; }

div#login_error { background-color: #000000; clear: both; }

UL.root { border-top: 1px solid #97d937; border-bottom: 1px solid #97d937;  list-style: none; padding:40px; }
UL.root LI { line-height: 20px; margin: 10px; }
#upload { font-family: 'OpenSansExtrabold', sans-serif; font-weight: normal; font-style: normal; font-size: 18px; }
#div_upload_form { background-color: #000000; border: 3px dashed #97d937; font-family: 'OpenSansExtrabold', sans-serif; font-weight: normal; font-style: normal; font-size: 18px; padding: 40px 130px; width: 150px; height: 20px; margin: 25px 0px; }
#upload_form { height: 30px; }
#upload_form label { float: left; line-height: 40px; }
#fake_upload { float: left; margin-left: 20px; background-color: #97d937; color: #000000; font-family: 'OpenSansExtrabold', sans-serif; font-weight: normal; font-style: normal; font-size: 18px; width: 110px; }

@media (max-width: 1462px) {
	#login_form { border-left: 0px; }
}

