body {
     background-color: #ccc;
}
div {
    background-color: #fff;
}

div#div_login_form span { width: 300px; display: inline-block; }
div#div_login_form input[type="text"] { width: 200px; }

div#bucketlist { display: none; }
div#upload { display: none; }
#logout { display: none; }
div#login_error { display: none; background-color: #f00; padding: 5px; width: auto; }

/* Dropzone effect */

#div_upload_form { padding: 20px; background: palegreen; width: 400px; height: 60px; text-align: left; }
#div_upload_form.in {
    width: 600px;
    height: 120px;
    font-size: larger;
    text-align: center;
}
#div_upload_form.hover {
    background: lawngreen;
}
#div_upload_form.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

#fake_upload { background-color: #cccccc; width: 150px; padding: 10px 20px; position: relative }
#fileupload { width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; z-index: 100; opacity: 0; -moz-opacity:0; filter:alpha(opacity:0); }